doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{firstName} #{lastName}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      html, body {
      width: 100%;
      margin: 0;
      color: #FEFEFE;
      background: #{settings.color};
      font-family: 'Lato', sans-serif;
      text-align: center;
      overflow: hidden;
      }
      a {
      color: inherit;
      }
      .main-row {
      height: 50%;
      }
      .v-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      height: 100vh;
      }
      .name {
      font-size: 400%;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      text-align: center;
      }
      .about {
      width: 100%;
      }
  body.container-fluid
    .row.main-row
      .col-md-3
      .col-md-6.v-center
          h1.name #{firstName} #{lastName}
          .about
            | Hi, I'm #{firstName}.&nbsp;
            if settings.showWork
              span Right now, I'm a #{work.title} at #{work.origin}.&nbsp;
            if settings.showEd
              span I'm currently a student at #{ed.origin}.&nbsp;
            if settings.showProject
              span I'm working on a project called #{project.title}.&nbsp;
            if settings.showHonor
              span I was recently awarded with the #{honor.title} from #{honor.origin}.
      .col-md-3
